body {
  font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

h1.heading {
  text-align: center;
}

h1, h2, h3 {
  font-weight: 300;
}

.charts {
  margin-top: 100px;
}

#top-referrers {
  .date {
    margin-bottom: 150px;

    hr {
      margin-bottom: 50px;
    }

    .site {
      margin: 0 auto 80px auto;
    }

    h2 {
      font-size: 1.2em;
    }
  }
}
